h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}
footer {
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
}
body {
    background-color: lavender;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    background-color: white;
    max-width: 600px;
    margin: 60px auto;
    padding: 70px;
    box-shadow: 0px 1px 20px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.city {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
   
}
.time {
    font-size: 36px;
    font-weight: bold;
}
.timeTwo {
    font-size: 36px;
    font-weight: bold;
}

.time small {
    font-size: 18px;
    vertical-align: middle;
    line-height: 36px;
}
.timeTwo small {
    font-size: 18px;
    vertical-align: middle;
    line-height: 36px;
}
.timeThree {
    font-size: 36px;
    font-weight: bold;
}
.timeThree small {
    font-size: 18px;
    vertical-align: middle;
    line-height: 36px;
}
.date {
    opacity: 0.7;
    
}
.dateTwo {
    opacity: 0.7;
}
.dateThree {
    opacity: 0.7;
}

.main {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    padding-bottom: 25px;
}
.main:last-child {
    border-bottom: none;
}
select {
    display: block;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    font-size: 18px;
}
h2 {
    margin: 0 0 5px;
    font-size: 30px;
    
}
